.header {
  width: 100%;
  font: 400 14px "Oswald", "Arial", sans-serif;
  line-height: normal;
  line-height: 18px;
  color: #444;
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  padding: 15px 0;
  width: 290px;
}

.logo {
  cursor: default;
  width: 200px;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

@media (min-width: 768px) {
  .cat_energy {
    display: none;
  }

  .header__container {
    width: 720px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: 1300px) {
  .header--image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/index-background-desktop@2x.jpg);
    width: 50%;
    height: 675px;
    background-size: cover;
    z-index: -1;
  }
  .header__container {
    width: 1220px;
    // display: flex;
    // flex-direction: row;
    // align-items: flex-start;
  }
}
