body {
  margin: 0 auto;
}

// body * {
//   border: 1px solid red;
// }

.wrapper {
  width: 100%;
}

.nav-list {
  display: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
}

.button {
  // text-decoration: none;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // font: 400 16px "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  // border: 0;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:hover {
  background-color: #5eaa2f;
}
