body {
  margin: 0 auto;
}

.wrapper {
  width: 100%;
}

.nav-list {
  display: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer {
  text-align: center;
  background-color: #f2f2f2;
}

// body * {
//   border: 1px solid red;
// }
